{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
{% include '_partial/nav.html.twig' %}
<div style="text-align: center; padding: 50px; margin-top: 120px;">
    <h1>Oups ! Page non trouvée (404)</h1>
    <p>La page que vous cherchez n’existe pas.</p>
    <a href="{{ path('app_main') }}">Retour à l'accueil</a>
</div>
{% include '_partial/footer.html.twig' %}
{% endblock %}
