<div class="pendulum-wrapper">
  <div class="pendulum-support"></div>
  <div class="pendulum-balls">
    <div class="ball first"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball last"></div>
  </div>
</div>

<style>
.pendulum-wrapper {
  width: 240px;  
  height: 200px; 
  margin: 5em auto;
  position: relative;
  border: none;
  background-color: transparent;
}

.pendulum-support {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 10px;
  background-color: #333333;
  border-radius: 5px;
  transform: translateX(-50%);
}

.pendulum-balls {
  position: absolute;
  top: 130px;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
}

.ball {
  width: 40px;
  height: 40px;
  background-color: #333333;
  border-radius: 50%;
  position: relative;
  transform-origin: 50% -120px;
}

.ball::before {
  content: '';
  position: absolute;
  top: -120px;
  left: 50%;
  width: 2px;
  height: 120px;
  background-color: #333333;
  transform: translateX(-50%);
  border-radius: 1px;
}

.ball.first {
  animation: firstball 0.9s alternate ease-in infinite;
}

.ball.last {
  animation: lastball 0.9s alternate ease-out infinite;
}

@keyframes firstball {
  0% { transform: rotate(35deg); }
  50% { transform: rotate(0deg); }
}

@keyframes lastball {
  50% { transform: rotate(0deg); }
  100% { transform: rotate(-35deg); }
}
</style>
